<!-- Template parcial para requisitos de senha forte -->
<div class="card mb-3">
    <div class="card-header bg-primary text-white">
        <i class="fas fa-shield-alt"></i> Requisitos de Senha Forte
    </div>
    <div class="card-body">
        <p class="card-text">Para maior segurança, sua senha deve conter:</p>
        <ul class="list-group">
            <li class="list-group-item">Pelo menos 8 caracteres</li>
            <li class="list-group-item">Pelo menos uma letra maiúscula</li>
            <li class="list-group-item">Pelo menos uma letra minúscula</li>
            <li class="list-group-item">Pelo menos um número</li>
            <li class="list-group-item">Pelo menos um caractere especial (!@#$%^&*(),.?":{}|<>)</li>
        </ul>
        <p class="card-text mt-2">Evite:</p>
        <ul class="list-group">
            <li class="list-group-item">Sequências óbvias como 123456, abcdef, qwerty</li>
            <li class="list-group-item">Informações pessoais como datas de nascimento</li>
            <li class="list-group-item">Palavras comuns como "senha" ou "password"</li>
        </ul>
    </div>
</div>
